
/* 定义博客图标颜色 */
.icon-youxiang2{
    color:#3857a7;
}
.icon-github{
    color:#3693da;
}
.icon-csdn2{
    color:#d61918;
}
.icon-zhihu1{
    color:#1d8ae6;
}
.icon-gitee1{
    color:#c61929;
}
.icon-juejin{
    color:#0f6efb;
}
.icon-boke1{
    color:#bab236;
}
.icon-pengyou1{
    color:#cc66cc;
}
